<ion-modal-view class="modal-view">
	<div class="bar bar-header bar-calm">
  		<h1 class="title modal-title">About Us</h1>
		<p></p>
		<a class="button button-clear" ng-click="about_us_modal.hide()"><span class="icon ion-close"></span></a>
	</div>
	<ion-content class="padding has-header">
		<div class="row">
      		<div class="col">
        		<div class="about-us">
					<p></p>
					<h4 class="title"><strong>Purpose of GoReSale</strong></h4>
					<p>GoReSale is a mobile application that was developed by Winterfall Development Team. GoReSale helps its user by providing the information about the awareness of green environment and using the green product to maintain the sustainability of our environment.
					   Besides, users are allowed to buy and sell their green product through this mobile application.
					</p>
					<h4 class="title"><strong>Winterfall History</strong></h4>
					<p>Early 2014, a team was established which consists only of two people, they are Tani and Loviana. This team then named based on a state name from the seven kingdom of Westeros, which is known as Winterfall. Since then, this team using the name Winterfall for their project. 
					   In 2015, the members of winterfall team has increase from two to 11 people. Today, Winterfall team represented by Tani (Project Manager and Developer), Loviana (Developer and Reviewer), Faizah (Business Analyst), Nur Afifah (Business Analyst), Safuan (Software Designer), Wan Annuar (Software Architecture), Sayuti (Software Architecture), Saiful (Developer), Shafarina (Developer), Atikah (System Tester), Nurul Najwa (Software Quality Assurance). </p>
        		</div>
      		</div>
		</div>
	</ion-content>
</ion-modal-view>