<ion-modal-view class="modal-view">
	<div class="bar bar-header bar-calm">
  		<h1 class="title modal-title">Place Order</h1>
		<a class="button button-clear" ng-click="$scope.order_modal.hide()"><span class="icon ion-close"></span></a>
	</div>
	<ion-content class="padding has-header">
		<div class="list">
<a class="item item-icon-left" >
    <i class="icon ion-card"></i>
    GoReSale Account Bank Number:
	Maybank(457324829201)
</a>
<p>Please complete your order through Direct/wire transfer to our Maybank account number provided above.</p>


</div>
	</ion-content>
</ion-modal-view>