<ion-modal-view class="modal-view">
	<div class="bar bar-header bar-calm">
  		<h1 class="title modal-title">Shipping Option</h1>
		<a class="button button-clear" ng-click="wire_transfer_modal.hide()"><span class="icon ion-close"></span></a>
	</div>
	<ion-content class="padding has-header">
		<div class="row">
      		<div class="col">
        		<div class="wire-transfer">
					<h4 class="title"><strong>Free Shipping Within Malaysia</strong></h4>
					<p>We provide free delivery to all non-PO Box addresses in Malaysia. However orders from Labuan, Sabah and Sarawak carry a flat RM10 courier fee for orders below RM150.</p>					
        		</div>
      		</div>
		</div>
	</ion-content>
</ion-modal-view>